<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"> 
    </script>
  <title>CHAT APPLICATION</title>
  <style>
    .chat-form { display: none; }
    body {
      background-color:lightgreen;
    }
  </style>
</head>
<body>
<h1 > Chat Application </h1>

  <form class="username-form" method="post" action="">
  <label >USERNAME*: </label>
  <input id="username" type="text" required/>
  <input type="submit" value="Join" />
  <input type="reset" value="cancel" />
  </form>

<form class="chat-form" method="post" action="">
  <div>Hey there, <span id="username"></span></div>
  <label>To:</label> <input id="recipient" type="text" required/><br />
  <label>Message: </label><br /> 
  <textarea id="message" required></textarea> 
  <input type="submit" value="Send" />
  <input type="reset" value="cancel" />
  <ul id="messages"></ul>
</form>

 <p id="test"></p>
 <p id="output"></p>

<!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
 --><script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="public/chat.js"></script>
</body>
</html>
